.BigBear{
    border: 1px black solid;

}

.dataContainer{
    margin: auto auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}



.headerDiv {
    padding: 0;
}

.headerDiv > h4{
    margin: 0 0 5px 0;
    text-align: left;
}



.headers{
    flex: 100%;
    display: flex;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px black solid;
}

.header-data {
    flex: 100%;


}

.data {
    flex: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.row{
    flex: auto;
    display: flex;
    cursor: pointer;
}

.row_data{
    flex: auto;
    border: 1px solid

}


.dataContainer{
    padding: 10px;
    width: calc(100% - 20px);
    margin: auto auto;
    max-width: 1200px
}

.Data {
    flex: 1 0 80px;
    max-width: 100px;

}

.Disposition {
    flex: 1 0 125px;
}

.Address {
    flex: 1 0 225px;

}

.Complaint {
    flex: 1 0 175px;

}

.Fine {
    flex: 0 0 50px;
}

.highlight {
    background-color: black;
    color: white;
}



@media only screen and (max-width: 700px) {

    .Data {
        flex: 1 0 70px;
        max-width: 100px;

    }

    .Address {
        flex: 1 0 190px;

    }

    .Complaint {
        flex: 1 0 150px;
    }

    .Disposition {
        display: none;
    }

    .row > *{
        font-size: 14px;
    }
}

@media only screen and (max-width: 575px) {

    .Disposition {
        display: none;
    }

    .Fine {
        display: none;
    }
}

